**O(1) Constant**

In [1]:
def func_constant(values):
  '''
  prints first item in the list values
  '''
  print(values[0])

func_constant([1, 2, 3])

1

**O(n) Linear**

In [4]:
def func_linear(lst):
  '''
  Takes list and print all the values
  '''
  for value in lst:
    print(value)

func_linear([1, 2, 3])

1
2
3

**O(n^2) Quadratic**

In [10]:
def func_quadratic(lst):
  '''
  Print pairs for every item in list
  '''
  for item_1 in lst:
    for item_2 in lst:
      print(item_1, item_2)

func_quadratic((1, 2, 3, 4))

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

**Calculating Scale of Big O**

In [12]:
def print_once(lst):
  '''
  Prints all items once
  '''
  for value in lst:
    print(value)

In [15]:
a_list = [0, 1, 2, 3]
print_once(a_list)

0
1
2
3

In [16]:
def print_3(lst):
  '''
  prints all items three times
  '''
  for value in lst:
    print(value)
  
  for value in lst:
    print(value)

  for value in lst:
    print(value)

In [17]:
print_3(a_list)

0
1
2
3
0
1
2
3
0
1
2
3

In [22]:
def func_compare(lst):
  '''
  this function prints the first item O(1)
  then prints the first half of the list O(n/2)
  then prints a string 10 times O(10)
  '''
  print(lst[0])

  midpoint = int(len(lst) / 2)
  for value in lst[:midpoint]:
    print(value)
  
  for i in range(10):
    print("Number")

In [23]:
b_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
func_compare(b_list)

1
1
2
3
4
5
Number
Number
Number
Number
Number
Number
Number
Number
Number
Number

**Worst Case VS Best Case**

In [26]:
def matcher(lst, match):
  '''
  given a list, return a boolean indicating if a match item is in the list
  '''
  for item in lst:
    if item == match:
      return True
  return False

In [30]:
b_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
matcher(b_list, 1)

True

In [27]:
matcher(b_list, 5)

True

In [28]:
matcher(b_list, 33)

False

**Space Complexity**

In [31]:
def printer(n=10):
  '''
  prints "hello world!" 10 times
  '''
  for i in range(n):
    print("Hello World!")

In [33]:
printer()

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

Note how we only assign the 'hello world!' variable once, not every time we print. So the algorithm has O(1) **space** complexity and an O(n) **time** complexity.

In [34]:
def create_list(n):
  new_list = []

  for i in range(n):
    new_list.append("new")
  
  return new_list

In [35]:
create_list(5)

['new', 'new', 'new', 'new', 'new']

Note how the size of the new_list object scales with the input n, this shows that it is an O(n) algorithm with regards to **space** complexity.